@import 'general';
@import 'variables';
@import 'clasess';

html {
    scroll-behavior: smooth;
}


// Navbar
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    background: $dark-color;
    color: set-color($dark-color);
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 2;

    .logo-text {
        font-family: 'Lobster', cursive;
        margin-left: 3px;
    }

    .menu__checkbox {
        display: none;
    }

    ul {
        display: flex;
        list-style: none;

        a {
            text-decoration: none;
            display: inline-block;
            padding-left: 2rem;
            color: set-color($dark-color);
            transition: 0.2s ease-out;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: set-color($dark-color);
            }

            &:hover::after {
                width: 100%;
                transition: width .5s;
            }
        }
    }
}

#showcase {
    height: 100vh;
    background: url("../img/photo-1519389950473-47ba0277781c.jpeg") no-repeat center center/cover;
    color: set-color($dark-color);
    background-attachment: fixed;

    // Content
    .showcase-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* Overlay */
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);

        h1 {
            font-size: 1.7rem;
            letter-spacing: 3px;
            font-weight: lighter;
            font-family: 'Permanent Marker', cursive;
        }

        p {
            font-size: 3.3rem;
        }
    }
}

// Sections
#section {

    // About us
    &-1 {
        height: 500px;
        background: #FFFFFF;

        .about {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            img {
                height: 400px;
                width: 500px;
            }

            .italic {
                font-style: italic;
                line-height: 1.8;
            }

            ul {
                i {
                    margin-right: 0.4rem;
                    padding: 0.25rem;
                    color: rgb(28, 92, 147);
                    border: 1px solid rgb(28, 92, 147);
                    border-radius: 50%;
                    margin-bottom: 10px;
                }
            }

            p {
                line-height: 1.8;
            }
        }
    }

    // Services
    &-2 {
        .services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;

            i {
                padding: 1rem;
                border-radius: 50%;
                color: rgb(28, 92, 147);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                width: 100px;
                height: 100px;
                line-height: 65px;
                transition: all 0.5s;

                &:hover {
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }

    // Portfolio
    &-3 {
        background: #f5f9fc;

        h2 {
            font-size: 2rem;
        }

        .items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        }

        .item {
            position: relative;
            background: $main-color;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                display: block;
                background: inherit;
                opacity: 0.8;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
                transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
            }

            // Bring in main color overlay
            &:hover:after {
                transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
            }

            // Scale image on hover
            &:hover .item-image {
                transform: scale(1.3);
            }

            &:hover .item-text {
                opacity: 1;
                transform: translateY(0);
            }

            .item-image {
                height: auto;
                transform: translateZ(0);
                display: block;
                transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
            }

            .item-image:before {
                content: '';
                display: block;
                padding-top: 75%;
                overflow: hidden;
            }

            .item-image img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                line-height: 0;
            }

            .item-text {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                text-align: center;
                z-index: 1;
                color: #fff;
                transform: translateY(-20%);
                transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
                    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
                transition-delay: 500ms;
            }

            &-text-wrap {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }

            &-text-title {
                font-size: 2rem;
                padding: 0 1rem;
                margin: 5px 0 0 0;
            }

            &-text-category {
                text-transform: uppercase;
                font-size: 1.2rem;
                opacity: 0.7;
                margin: 0;
                color: $dark-color;
            }
        }
    }

    // Testimonial
    &-4 {
        .testimonials {
            &-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 1rem;
            }

            p {
                padding: 0.5rem;
                border: 1px solid grey;
                border-radius: 5px;
            }
        }
    }

    // Contact
    &-5 {
        background: #f5f9fc;

        .contact-a {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            grid-gap: 2rem;

            div {
                padding: 2rem;
                box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);

                i {
                    padding: 0.6rem;
                    border: 3px dotted $dark-color;
                    border-radius: 50%;
                }
            }
        }

        .contact-b {
            padding: 2rem;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
            margin-top: 3rem;
            display: grid;
            grid-template-areas:
                'name email'
                'subject subject'
                'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;

            // Grid Areas
            .name-input {
                grid-area: name;
            }

            .email-input {
                grid-area: email;
            }

            .subject-input {
                grid-area: subject;
            }

            .message-input {
                grid-area: message;
            }

            .text-input {
                padding: 0.8rem 1rem;
            }
        }

        button {
            padding: 1rem 4rem;
            font-size: 1.2rem;
            display: inline-block;
            border: none;
            background: $dark-color;
            color: #fff;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

// Clients
#clients {
    background-color: #f5f9fc;
    height: 350px;
    text-align: center;

    .boxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;

        div {
            box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
            margin-top: 2.2rem;
            padding: 2.2rem;
            background: #FFFFFF;

            li {

                i {
                    margin-bottom: 2rem;

                    &.far {
                        color: rgb(32, 179, 142);
                    }

                    &.fa-code-branch {
                        color: rgb(192, 66, 255);
                    }

                    &.fa-users {
                        color: rgb(255, 180, 89);
                    }

                    &.fa-headset {
                        color: rgb(70, 209, 255);
                    }
                }

                &.boxes-number {
                    font-weight: bold;
                    font-size: 2.2rem;
                    color: rgb(28, 92, 147);
                }
            }
        }
    }
}

// Interested
.interested {
    background: $dark-color;
    height: 100px;
    padding: 30px 5rem;

    &-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: set-color($dark-color);

        h2 {
            font-weight: lighter;
            color: set-color($dark-color);
        }
    }

    &-contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 1rem;
        background: $light-color;
        color: set-color($light-color);
        border-radius: 10px;
        cursor: pointer;

        p {
            margin-left: 10px;
        }
    }
}

// Footer
#main-footer {
    background: $dark-color;
    color: set-color($dark-color);
    padding: 0 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 1.2rem;

        .social .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            transition: all 0.4s;
            cursor: pointer;

            &:hover {
                background: #f5f9fc;
                color: set-color(#f5f9fc);
            }
        }
    }
}

@import 'media';